.options-page-section-header {
  font-size: 14px;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 4px;
}

.options-page-row {
  margin-bottom: 8px;
  display: flex;
}

.options-page-checkbox-container,
.options-page-label-container {
  display: flex;
  align-items: center;
}

.options-page-checkbox-container {
  margin-right: 6px;
}

.options-page-checkbox,
.options-page-label {
  cursor: pointer;
}
