.badges-container {
  flex-wrap: wrap;
}

.badges-container > li {
  margin-bottom: 8px !important;
}

.funda-neighbourhoods-badge {
  cursor: pointer;
  margin-right: 8px !important;
}

.funda-neighbourhoods-configure-badge {
  position: relative;
}

.funda-neighbourhoods-configure-badge-clickable-area {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

li[class*="label-"] + .funda-neighbourhoods-badge {
  margin-left: 4px !important;
}

.funda-neighbourhoods-table-container {
  height: auto;
  margin-top: 16px;
}

.funda-neighbourhoods-generic-error-message {
  color: black;
  margin-right: 8px;
}
